package templates

templ Home() {
	<main class="h-screen w-screen bg-gray-900 text-white flex flex-col flex-1 self-center">
		<h1 class="font-medium text-xl text-center">Go + HTMX + Templ + Tauri test</h1>
		@Ping()
	</main>
}
